body {
	background:rgb(244, 156, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  
    
}



p{
    font-family: "Roboto", sans-serif;
    line-height: 1;
  margin: 10px 0;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 133);
}
  

.center {
  text-align: center;
}

.animated-text{
    display: flex;
    position: relative;
    animation: spin 10s linear infinite;
  }
  
  

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveOut {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .word:nth-child(4) {
    animation: moveOut 6s linear infinite;
  }


a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-family: "Arial", sans-serif;
 }
 
 a:hover{
    color:rgb(78, 78, 238);
 }




