body {
	background: rgba(255, 157, 0, 0.702);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.animated-text {
  font-size: 80px;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  color: rgb(243, 122, 0);
  font-weight: 300;
}
  
  
  .text {
    font-size: 80px;
   
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    color: black;
    }
  
    .bouncing-ball {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: bounceAnimation 2s infinite;
    }
    @keyframes bounceAnimation {
      0% {
          transform: translate(-50%, -50%) translateY(0);
      }
      50% {
          transform: translate(-50%, -50%) translateY(-200px);
      }
      100% {
          transform: translate(-50%, -50%) translateY(0);
      }
    }


  a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: black;
    font-family: "Arial", sans-serif;
 }
 
 a:hover{
    color:white;
 }








