body {
	background: rgb(250, 67, 98);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


p{
  color: white;
  font-family: "Lato", sans-serif;
  line-height: 1;
  margin: 10px 0;
  font-size: 200px;
  font-weight: 400;
  font-style: normal;
}

.center {
    text-align: center;
}
.thick-animation {
    animation: thickAnimation 5s infinite;
    font-weight: normal;
}

@keyframes thickAnimation {
    0% {
        font-weight: normal;
    }
    20% {
        font-weight: 500;
    }
    40% {
        font-weight: 900;
    }
    60% {
        font-weight: 1040;
    }
    80% {
        font-weight: 2000;
    }
    100% {
        font-weight: 2040;
    }
}



.thin-animation {
    animation: thinAnimation 5s infinite;
    font-weight: normal;
}



@keyframes thinAnimation {
    0% {
        font-weight: normal;
    }
    20% {
        font-weight: 500;
    }
    40% {
        font-weight: 400;
    }
    60% {
        font-weight: 300;
    }
    80% {
        font-weight: 200;
    }
    100% {
        font-weight: 100;
    }
}


a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: green;
    font-family: "Arial", sans-serif;
 }
 
 a:hover{
    color: white;
 }






 
