body {
	background: rgba(92, 13, 13, 0.379);
    
   
    
}


.lato {
    font-family: "Lato", sans-serif;
    font-size: medium;
    font-style: bold;
    color: rgb(60, 59, 59);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-text {
    animation: slide-in 1s forwards;
  }
  
  .sketch-text {
    animation: sketch 2s forwards;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes sketch {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-family: "Arial", sans-serif;
 }
 
 a:hover{
    color:rgb(33, 33, 33);
 }
