body {
	background: black;
    font-family: Arial, sans-serif;
    color: white; 
    
} 
  
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.upper-left {
    position: absolute;
    top: 5%;
    left: 5%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 23%;
    right: 5%;
}

.go {

    position: fixed;
    top: -20px; 
    left: 60px
   
}

.big {
   
    animation: growShrink 2s infinite alternate;
    top: -20px; /* Adjust this value to set the distance from the top */
    left: 60px
}

.or {
    font-size: 60px;
    text-align: center;
    color: white
}

.go {
   
    position: absolute;
    right: 40%;
    bottom: 40%;
    
}

.home {
   
    position: absolute;
    bottom: 23%;
    right: 5%;
    animation: colorChange 1s infinite;
}

.enlarge {
    animation: growShrink 5s linear infinite;
    transition: font-size 0.5s;
    font-size: 100px; 
     

  }

  .moving-word {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 100px;
    position: absolute;
    right: 40%;
    bottom: 40%;
    animation: moveLeft 3s linear infinite;
   
}

@keyframes moveRight {
    0% {
        right: 5%;
    }
    50% {
        right: 2%;
    }
    100% {
        right: -5%;
    }
}
    
 




@keyframes growShrink {
    0%{
        font-size: 100px;
    } 
    10%{
        font-size: 140;
    }
    20% {
        font-size: 180px;
    }
    30% {
        font-size: 220px;
    }
    40% {
        font-size: 260px;
    }
    50% {
        font-size: 300px;
    }
    60% {
        font-size: 340px;
    }
    70% {
        font-size: 380px;
    }
    80% {
        font-size: 420px;
    }
    90% {
        font-size: 460px;
    }

    100% {
        font-size: 500px;
    }
}









a{
    position: absolute;
   right: 20px;
   bottom: 20px;

   color: rgb(238, 255, 0);
   font-family: "Arial", sans-serif;
}

a:hover{
   color: purple;
}