body {
	background:darkblue;
    
   
    
}


.arial {
    font-family: "Arial", sans-serif;
    font-size: medium;
    font-style: normal;
    color: lightblue;
}

.spinning-text {
    font-size: medium;
    font-weight: bold;
  }
  
  .spin {
    display: inline-block;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-family: "Arial", sans-serif;
 }
 
 a:hover{
    color:rgb(78, 78, 238);
 }