body {
	background: black;
    font-family: Arial, sans-serif;
    color: white; 
    
} 
  


.upper-left {
    position: absolute;
    top: -20;
    left: 36;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 20;
    right: 75;
}

.go {
    font-size: 100px;
}

.big {
    font-size: 130px;
    animation: growShrink 2s infinite alternate;
}

.or {
    font-size: 60px;
    text-align: center;
}

.go {
    font-size: 100px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    
}

.home {
    font-size: 85px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    animation: colorChange 1s infinite;
}

.enlarge {
    animation: growShrink 5s linear infinite;
    transition: font-size 0.5s;
    font-size: 100px; 
     

  }
    
 




@keyframes growShrink {
    0%{
        font-size: 130px;
    } 
    
    50% {
        font-size: 160px;
    }

    1000% {
        font-size: 190px;
    }
}

@keyframes color-change {

    0% {
    color: red;
    }

    33% {
    color: blue;
    }

    66% {
    color: green;
    }

    100% {
        color: red;
        }
    }







a{
    position: absolute;
   right: 20px;
   bottom: 20px;

   color: rgb(238, 255, 0);
   font-family: "Arial", sans-serif;
}

a:hover{
   color: purple;
}