
body {
	
	background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


p{
	color: rgb(227, 85, 227);
    font-size: 55px;
	line-height: 1;
	margin: 10px 0;
    font-family: "Bruno Ace", sans-serif;
        font-weight: 400;
        font-style: normal;  
}


    .center {
        text-align: center;
      }


      .enlarge {
        font-size: 60px;
        animation: growShrink 5s linear infinite;
        transition: font-size 0.5s;
        font-size: 250px; 
        color: rgb(0, 18, 89); 
         font-family: "Bruno Ace", sans-serif;
         font-weight: 400;
         font-style: normal;
      }
        
     
    

    
    
    @keyframes growShrink {
        0%{
            font-size: 120px;
        } 
        
        50% {
            font-size: 140px;
        }

        1000% {
            font-size: 160px;
        }
    }



a{
    position: absolute;
   right: 20px;
   bottom: 20px;
   color: rgb(255, 166, 0);
   font-family: "Arial", sans-serif;
}

a:hover{
   color: rgb(0, 252, 156);
}







  
  
  
 
  
 





