* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	
	font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 252, 252);
    height: 100vh;
    margin: 0;
    position: relative;
}

  
  .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .name {
    font-size: 50px;
    cursor: pointer;
  }
  
  .paragraph {
    display: none;
    position: relative;
    width: 750px; 
    height: 200px; 
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
 

 
  
  .paragraph p {
    position: absolute;
    top: 50px; /* Adjust the top position of the paragraph within the container */
    left: 50px; /* Adjust the left position of the paragraph within the container */
  }



  .img-container {
    position: relative;
    display: flex;
    top: -5.6%;
    left: 43%;


}

.crown-about {
    
 
    
    width: 200px; 
    height: auto; 
   
    
}



.img-container-two {
   
    width: 10vw;
    height: 10vh;


}

.img-container-two img {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    z-index: -1;
    width: 400px; 
    height: 150px; 
   
    
}



