* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	
	font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

  
  .center {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
  
  .name {
    font-size: 50px;
    cursor: pointer;
  }
  
  .paragraph {
    display: none;
    position: relative;
    width: 750px; /* Adjust the width of the container as needed */
    height: 200px; /* Adjust the height of the container as needed */
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
 

 
  
  .paragraph p {
    position: absolute;
    top: 50px; /* Adjust the top position of the paragraph within the container */
    left: 50px; /* Adjust the left position of the paragraph within the container */
  }



  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;


}

.img-container img {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: 150px; 
    z-index: -1;
    
}



.img-container-two {
    position: relative;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;


}

.img-container-two img {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 400px; 
    height: 150px; 
    z-index: -1;
    
}