

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 252, 252);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.moving-word-chloë{

    position: relative;
    height: 50%;
    
   
}

.moving-word-chloë p {
    position: absolute;
    top: 0px;
    margin: 0;
    transform: translateY(500%);
   
    color: black;
    font-family: Arial, sans-serif;
    font-size: 150px;
    white-space: nowrap;
    animation: moveLeftToRight 10s linear infinite;
}

span {
    display: inline-block;
    margin-right: 90px;
}

@keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }


  }
  





.moving-word-oliveira{

    position: relative;
    width: 100vw;
    height: 50%;
    overflow: hidden;
   
}

.moving-word-oliveira p {
    position: absolute;
    bottom: 5;
    transform: translateY(900%);
    color: black;
    font-family: Arial, sans-serif;
    font-size: 150px;
    white-space: nowrap;
    animation: moveLeftToRight 10s linear infinite;
}

span {
    display: inline-block;
    margin-right: 90px;
}


@keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  







.nav {
    position: absolute;
    left: 50;
    bottom: 0;
    display: flex;
    justify-content: 35px space-between;
    padding: 30px 40px;
    font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: black;
    display: inline-block;
    margin-right: 250px;

}










.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


}

.img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}



.container {
    position: absolute;
    bottom: 0px;
    left: 20px;
    display: flex;
    justify-content: space-between;
}





