
body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,110,0.47001309880239517) 47%, rgba(0,212,255,1) 100%);
    
}


p{
	color: purple;
    width:  500.688px;
    font-family: Arial, sans-serif;
    font-size: 100px;
	line-height: 1;
	margin: 10px 0;
    text-align: center;
}


a{
    position: absolute;
   right: 20px;
   bottom: 20px;
   color: rgb(255, 166, 0);
   font-family: "Arial", sans-serif;
}

a:hover{
   color: rgb(0, 252, 156);
}





