
body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,110,0.47001309880239517) 47%, rgba(0,212,255,1) 100%);
    
}


p{
	color: rgb(0, 18, 89);
    width:  500.688px;
    font-family: Arial, sans-serif;
    font-size: 80px;
	line-height: 1;
	margin: 10px 0;
    text-align: center;
    
}

.MOON {
    font-size: 100px; /* Change the scale of the word */
    color: white; /* Change the color of the word */
    .growing-text {
        font-size: 100px;
        animation: growShrink 2s linear infinite;
    }
    
    @keyframes growShrink {
        0%,{
            font-size: 100px;
        } 
        
        50% {
            font-size: 200px;
        }

        1000% {
            font-size: 300px;
        }
    }
}


a{
    position: absolute;
   right: 20px;
   bottom: 20px;
   color: rgb(255, 166, 0);
   font-family: "Arial", sans-serif;
}

a:hover{
   color: rgb(0, 252, 156);
}





